<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Spotbox.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SpotifyUsername" value="username"/>
    <add key="SpotifyPassword" value="password"/>
    <add key="SpotifyApiKeyPath" value="C:\path\to\spotify\key.key"/>
    <add key="PortNumber" value="1234"/>
  </appSettings>
  <userSettings>
    <Spotbox.Settings>
      <setting name="CurrentPlaylistName" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentPlaylistPosition" serializeAs="String">
        <value>0</value>
      </setting>
    </Spotbox.Settings>
  </userSettings>
</configuration>